li {
  list-style: none;
  margin: 0 12px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-menu-container {
  display: flex;
  justify-content: space-between;
}

.submenu {
  display: none;
}

.navbar {
  padding: 10px 10px;
}

.main-menu {
  display: flex;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition: all 300ms ease-out 0s;
}
